/* PC */
@media (min-width: 992px) {
    .mobile-header{
        display: none;
    }
}



/* Tablet & Mobile*/
@media (max-width: 991.98px) {
    /* 1. ẩn navbar */
    .navbar{
        display: none;
    }

    /* 2. Chuyển logo vào giữa */
    .header-top{
        position: relative;
    }

    .header__logo{
        position: absolute;
        left: 50%;
        translate: -50% -50%;
    }

    /* 3. căn vị trí menu icon */
    .menu-header__icon{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 34px;
        left: 26px;
        color: #fff;
    }

    /* 4. overplay */
    .menu-overplay{
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        /* bình thường ẩn overplay đi */
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        transition: 0.5s;
    }

    /* 5. kiểm tra xong menu-checkbox:checked -> menu-overplay */
    .menu-checkbox:checked ~ .menu-overplay{
        opacity: 1;
        visibility: visible;
    }

    /* 6. menu drawer */
    .menu-drawer{
        position: fixed;
        background-color: rgb(59, 48, 48);
        inset: 0 40% 0 0;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s;
        padding: 60px;
    }
    
    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);

    }

    /* 8. menu top */
    .close__menu{
        width: 24px;
        color: #fff;
    }

    .menu-drawer__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #navbar__list--mobile{
        margin-top: 25px;
    }

    .navbar__link{
        display: block;
        font-size: 2rem;
    }

    .navbar__link:hover{
        background-color: #00ffff37;
    }

    /* khoi hero */
    .hero{
        flex-direction: column;
        row-gap: 50px;
    }

    .hero__content{
        order: 2;
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .hero__media{
        order: 1;
    }

    .hero__row{
        justify-content: center;
    }

    /* khoi service */
    .service__row{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .service__img{
        width: 100%;
    }

    .service-item{
        width: 90%;
    }

    .service__list{
        text-align: center;
    }

    .service-item{
        text-align: start;
    }

    /* khoi work */
    .work__list{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    /* khoi about */
    .about-row{
        flex-direction: column;
        row-gap: 30px;
    }

    .about__img--small{
        display: none;
    }
    
    .about__media{
        width: 100%;
    }

    .about__img--big{
        width: 100%;
        margin: 25px auto;
        border-radius: 15px;
    }
    
    .about-content{
        width: 90%;
        text-align: center;
    }

    /* khoi team list */
    .team__list{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }

    .team-item__thumb{
        margin: 0 auto;
    }

    /* khoi install */
    .install__img{
        display: none;
    }

    .install__content{
        width: 90%;
        margin: 0 auto;
    }
}



/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    
}



/* Mobile */
@media (max-width: 767.9px) {
    
}

/* tạm ẩn không liên quan */

.footer {
    display: none;
}